
<div class="ui inverted basic segment">
    <div class="ui inverted secondary menu">
        <div class="item">
            <img src="/assets/images/maalka-logo.svg" style="width:100px;">
        </div>
        <div class="right menu">
            <a class="item" href="#/">home</a>
            <a class="item" href="#/usecase">use case</a>
            <a class="item" a target="_blank" href="https://www.maalka.com/mpp">about</a>
            <a class="item" a target="_blank" href="https://github.com/Maalka/portfolio-codes">repository</a>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>